@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto+Condensed');

body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 5px;
}

h1, li {
  font-family: 'Bowlby One SC', cursive;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

.active-item {
  color: red;
}

/* CSS GRID LAYOUT OPTIONS */
.container {
  display: grid;
  grid-template-rows: auto;
}

/* @media all and (max-width: 1199px) { ... } */
/* @media all and (max-width: 991px) { ... } */
/* @media all and (max-width: 768px) { ... } */

@media all and (max-width: 575px) {


}
