@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto+Condensed');

html, body {
  box-sizing: border-box;
  background: url('./images/background.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  padding: 10px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, li {
  font-family: 'Bowlby One SC', cursive;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

.active-item {
  color: #592e12;
}

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template: 0px auto 0px / 4fr 1fr;
  grid-gap: 3px;
  height: 95vh;
}

.menu {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: grid;
  align-items: center;
  justify-content: flex-start;

  font-size: 2em;
}

.content {
  /* background-color: red; */
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

/* @media all and (max-width: 1199px) { ... } */
/* @media all and (max-width: 991px) { ... } */
/* @media all and (max-width: 768px) { ... } */

@media all and (max-width: 575px) {


}
