@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto+Condensed');

html, body {
  box-sizing: border-box;
  background: url('./images/background.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  padding: 10px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, li {
  font-family: 'Bowlby One SC', cursive;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

.active-item {
  color: #99662c;
}

/* CSS GRID LAYOUT */
.container {
  display: grid;
  grid-template: 0px auto 0px / 4fr 1fr;
  grid-gap: 20px;
  height: 95vh;
}

.menu {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: grid;
  align-items: center;
  justify-content: flex-start;

  font-size: 2em;
}

.content {
  /* background-color: red; */
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page {
  font-size: 2em;
}

.work-page {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(12, 1fr);
  grid-gap: 20px;
  font-size: 1.5em;
}

.link-1 {
  grid-column: 2 / 7;
  grid-row: 1 / 2;
  align-self: end;
}

.link-2 {
  grid-column: 7 / 12;
  grid-row: 1 / 2;
  align-self: end;
}

.link-3 {
  grid-column: 2 / 7;
  grid-row: 2 / 3;
  align-self: start;
}

.project {
  position: relative;
  max-width: 100%;
}
.project-image {
  display: block;
  max-width: 100%;
}
.project-description-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.project:hover .project-description-cover {
  visibility: visible;
  opacity: .90;
}

.skills-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1.5em;
}

.skillIcon {
  margin: 20px;
  text-align: center;
}

.skillIcon img {
  width: 100px;
  height: 100px;
}

.about-page {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(12, 1fr);
  grid-gap: 20px;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  grid-column: 2 / 7;
  grid-row: 1 / -1;
  max-width: 100%;
}

.profile-blurb {
  grid-column: 7 / 12;
  grid-row: 1 / -1;
}

.contact-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* font-size: 1.5em; */
}

.contact-heading, .contact-blurb {
  text-align: center;
  display: block;
  margin: 15px;
  width: 100%;
}

.social-icon img {
  width: 100px;
  height: 100px;
}

/* @media all and (max-width: 1199px) { ... } */
/* @media all and (max-width: 991px) { ... } */
/* @media all and (max-width: 768px) { ... } */

@media all and (max-width: 575px) {


}
